			</div>
		</div>

		<!-- Put this just before the closing body tag of your web page -->
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'ug251'; // required: replace example with your forum shortname
	                var disqus_identifier = '{{ page.url }}';
			var disqus_url = 'http://utt.am{{ page.url }}';
	 
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function () {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
		<div style="margin: 20px 100px 20px ; text-align: right">
			<p style="float: left; font-size: 0.8em; color: #AAA; display: inline">Copyright © Uttam Grandhi 2014</p>
			<span style="margin:0 10px"><a href="https://www.facebook.com/uttam.grandhi" class="home-nav"><img src="/images/facebook-icon-24px.png"></a></span><span style="margin:0 10px"><a href="https://www.linkedin.com/in/uttamg/" class="home-nav"><img src="/images/linkedin-icon-24px.png"></a></span><span style="margin:0 10px"><a href="https://twitter.com/2kool2resist" class="home-nav"><img src="/images/twitter-icon-24px.png"></a></span><span style="margin:0 10px"><a href="https://github.com/uttamg911" class="home-nav"><img src="/images/github-icon-24px.png"></a></span><span style="margin:0 10px"><a href="https://dribbble.com/uttamg911" class="home-nav"><img src="/images/dribbble-icon-24px.png"></a></span>
		</div>
	</body>
</html>