<!DOCTYPE HTML>

<html lang="en" class="wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active">
	<head>
		<meta charset="utf-8">
		<title>{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">

		<link href="/css/pure-min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/baby-blue.css">
		<style type="text/css">
			html {
				font-family: 'Lato', sans-serif !important;
				font-weight: 100;
			}

			.content {
				padding-top: 50px;
			}

			p {
				color:#333;
				font-weight: 100;
				font-family: 'Lato', sans-serif;
			}

		</style>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/gallery.css">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    		<!--[if lt IE 9]>
      			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    		<![endif]-->
    	<script type="text/javascript" src="/scripts/main.js"></script>
  	</head>
	
	<body>
		<div class="pure-g-r" id="layout">
			<div class="pure-u-1" id="main">

