<div class="header" style="padding-top:50px;">
	<h1>{{ page.title }}</h1>
	<p>{{ page.description }}</p>
</div>

<div class="pure-g-r">
	{% for post in site.posts %}
		{% if post.tags contains 'portfolio' %}
			<a style="width:0px; height:0px;" href="{{ post.url }}">
				<div class="pure-u-1-3 photo-box" style="background:#FFF; font-size: 0.5em; z-index: 0">
					{% for p in post.pictures %}
						{% if p.label == 'portfolio' %}
  							<img src="{{site.assetURL}}{{p.url}}" alt="{{p.alt}}" style="width:480px;" />
						{% endif %}
					{% endfor %}
					<div class="pure-u-1-3 hover-text">
						<p> {{ post.title }} <br/> ( {{ post.description }} )</p>
					</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
</div>
