<div class="pure-g-r" style="padding:0 100px;">
	{% for post in site.posts %}
		{% if post.tags contains 'portfolio' %}
			<a style="width:0px; height:0px;" href="{{ post.url }}">
				<div class="pure-u-1-5 photo-box" style="background:#FFF; font-size: 0.5em; z-index: 0;">
					{% for p in post.pictures %}
						{% if p.label == 'portfolio' %}
  							<img src="{{site.assetURL}}{{p.url}}" alt="{{p.alt}}" style="width:100%;" />
						{% endif %}
					{% endfor %}
					<div class="pure-u-1-5 hover-text">
						<p> {{ post.title }} <br/> ( {{ post.description }} )</p>
					</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
</div>
