<a href="#menu" id="menuLink" class="pure-menu-link">
    <span></span>
</a>
<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <!-- <a style="text-transform:none" class="pure-menu-heading" href="/">&mu;&tau;&tau;&alpha;m</a> -->
        <a style="text-transform:none" class="pure-menu-heading" href="/">utt.am</a>

        <ul>
            <li class=" ">
                <a href="/works/">Works</a>
            </li>
            
            <li class=" ">
                <a href="/blog/">Blog</a>
            </li>

            <li class=" ">
                <a href="/resume/">Resume</a>
            </li>
          
            <li class=" ">
                <a href="/about/">About</a>
            </li>
        </ul>
	</div>
    <div class="recent-posts" style="margin-top: 20px; padding: 10px; font-size: 0.9em;">
        <span style="">Recent Posts</span>
        <ul style="list-style-type:none; padding-left: 0px; margin: 4px">
            {% for post in site.posts limit: 10 %}
            <li style="font-size:0.8em;"><a class="recent-posts" href="{{ post.url }}">{{ post.title | truncate: 18 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <p style="font-size:0.7em; font-weight: 400; color: #3a87ad; margin: 4px 12px 4px; position: absolute; bottom: 20px;"><em>Uttam&nbsp;</em> means "good" in sanskrit</p>
</div>